/*
. for class, # for id, if nothing we use the original html tag

1. PADDING 
- padding: all-direction;
- padding: top right bottom left; (clockwise)
- padding: top-bottm left-right;
- padding: top left-right bottom;
no comma in between

2. BORDER
border: border-width border-style border-color;

3. FONT
- font-family: Defines the typeface and fallback choices. Always end your fallback system with a generic category like sans-serif or serif.
- font-size: Sets the character height using fixed units (px), relative units (rem, em), or percentage scales.
- font-weight: Adjusts stroke thickness via keywords like normal or bold, or specific numeric values from 100 to 900.
- font-style: Slants your text using normal, italic, or customized oblique angles.
- line-height: Controls leading space between text lines to improve overall readability.
- font-variant: Activates special typography styles like small-caps or custom alternative glyphs.
font: font-style font-variant font-weight font-size/line-height font-family;

p {
  font: italic small-caps bold 16px/1.5 "Roboto", Arial, sans-serif;
}

4. 
*/


body{
    color: rgb(13, 13, 13);
    background-color: rgb(242, 242, 242);

    /*task 2*/
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 14px;
    line-height: 1.5em;

    /*task 3*/
    margin: 0px;
    padding: 0px;
}

#topNavigation{
    color: rgb(255, 255, 255);
    background-color: rgb(148, 0, 0);

    /*task 2*/
    font-weight: bold;

    /*task 3*/
    margin: 0px;
    padding: 10px 18px;
}

#pageFooter{
    color: rgb(255, 255, 255);
    background-color: rgb(148, 0, 0);

    /*task 2*/
    font-size: 0.9em;

    /*task 3*/
    margin: 0px;
    padding: 18px;
    border: 5px dotted black;
}

h1, h2, h3, h4, h4, h5, h6{
    color: rgb(0, 0, 0); /*(0, 0, 0) for all black*/

    /*task 2*/
    font-weight: bold;
    line-height: 1.25em;

    /*task 3*/
    padding: 0px;
}

h1{
    font-size: 2.0em;
    margin: 12px 0px 8px;
}

h2{
    font-size: 1.8em;
    margin: 10px 0px 6px;
}

h3{
    font-size: 1.6em;
    margin: 8px 0px 5px;
}

h4{
    font-size: 1.4em;
}

h5{
    font-size: 1.2em;
}

h6{
    font-size: 1.1em;
}

h4, h5, h6{
    margin: 6px 0px 4px;
}

a, a:link, a:visited, a:hover{
    color: rgb(148, 0, 0);
}

a:hover{
    /*task 2*/
    text-decoration: underline;
}

/*link inside nav tag will be white color*/
nav a, nav a:link, nav a:visited{
    color: rgb(255, 255, 255);
}

nav a:hover{
    color: rgb(255, 255, 26);

    /*task 2*/
    text-decoration: none;
}

.contentWrapper{
    /*task 3*/
    margin: 0px;
    padding: 18px;
}

table{
    border: 5px solid rgb(0, 153, 0);
    border-spacing: 4px;
    margin: 0px;
    padding: 2px;

    /*task 4*/
    width: 640px;
}

caption{
    margin: 0px;
    padding: 10px;
    font-style: italic;
}

tr:nth-child(odd){
    background-color: rgb(217, 217, 217);
}

tr:nth-child(even){
    background-color: rgb(191, 191, 191);
}

th{
    margin: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 153);
}

/*1st two column*/
th:nth-child(1), td:nth-child(1),
th:nth-child(2), td:nth-child(2){
    width: 90px;
}

/*3rd column*/
th:nth-child(3), td:nth-child(3){
    width: 240px;
}

td{
    margin: 0px;
    padding: 10px;
}
